/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab
{
	background: none repeat scroll 0 0 #C8756E !important;
	color: #DDDDDD !important;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected
{
	background: none repeat scroll 0 0 #92231B !important;
	color: #EEEEEE !important;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContentContainer
{
	border-color: #92231B !important;	
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent
{
	border-color: #92231B !important;
	width: 450px;
}

.dialogVPanel {
  margin: 5px;
}

div#calculationArea
{
	margin-left:auto;
	margin-right:auto;
	width: 450px;
}

.equationArea td
{	
	padding: 2px;
	vertical-align: middle !important;
}

.gwt-PopupPanel
{
	border-color: #92231B !important;	
}
