
body
{
	background-color: #D6E4E1 !important;
	color: #777777;
}

/** Example rules used by the template application (remove for your app) */
#titleText {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  text-align: center;
}

.titleArea
{
	border-color: #9C2A00;
	border-width: 4px;	
	border-radius: 10px;
	border-style: solid;
	-moz-border-radius: 10px;
	margin: 10px;
	background-color: #F1F1D4 !important;	
}

.footer{
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	border-color: #9C2A00;
	border-width: 4px;	
	border-radius: 10px;
	border-style: solid;
	-moz-border-radius: 10px;
	margin: 10px;
	background-color: #F1F1D4 !important;	
}

.menu
{
	border-color: #9C2A00;
	border-width: 4px;	
	border-radius: 10px;
	border-style: solid;
	-moz-border-radius: 10px;
	margin: 10px;
	padding: 3px;
	background-color: #F1F1D4 !important;	
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.calculationArea
{
	border-color: #9C2A00;
	border-width: 4px;	
	border-radius: 10px;
	border-style: solid;
	-moz-border-radius: 10px;
	margin: 10px;
	padding: 10px;
	background-color: #F1F1D4 !important;
}

.calcBox
{
 	margin-right: auto;
	margin-left: auto;
}

.calculationArea .gwt-TabLayoutPanelTab
{
	background: none repeat scroll 0 0 #C8756E !important;
	color: #FFFBD0 !important;
	font-weight: bold;
	text-align:center;
	cursor: pointer;
	margin-left: 6px;
	padding: 3px 6px;
}

.calculationArea .gwt-TabLayoutPanelTab-selected
{
	background: none repeat scroll 0 0 #9C2A00 !important;
	color: #EEEEEE ;
	cursor: default;
}

.calculationArea .gwt-TabLayoutPanelContentContainer
{
	border-color: #9C2A00 !important;
	background-color: #FFFFFF;
}

.calculationArea .gwt-TabLayoutPanelContent
{
	border-color: #9C2A00 !important;
	width: 500px;
	padding: 3px;
}

.dialogVPanel {
  margin: 5px;
}

.equationArea td
{	
	padding: 2px;
	vertical-align: middle !important;
}

.gwt-PopupPanel
{
	border-color: #9C2A00 !important;	
}

.menu a:link
{
	text-decoration: none;
	color: #777777;
}

.menu a:visited
{	
	text-decoration: none;
	color: #777777;
}

.menu a:active
{
	text-decoration: none;
	color: #777777;
}

.menu a:hover
{
	color: #777777;
	text-decoration: underline;
}
	
	
